
<h1>Display your Pirate here</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Height: <%= @pirate.height %></h4>
  <h5>Weight: <%= @pirate.weight %></h5>
</div>

<h2>Display your first ship here</h2>

  <h3>Name: <%= @ship1.name %></h3>
  <h4>Type: <%= @ship1.type %></h4>
  <h5>Booty: <%= @ship1.booty %></h5>

<h2>Display your second ship here</h2>

  <h3>Name: <%= @ship2.name %></h3>
  <h4>Type: <%= @ship2.type %></h4>
  <h5>Booty: <%= @ship2.booty %></h5>


